.about {
  background-color: var(--background-color);
  .about__container {
    padding: 24px;
    .about__intro {
      .about__image {
      }
      .about__content {
        margin-top: 50px;
        .about__label {
          color: #c39167;
          font-size: 12px;
          text-transform: uppercase;
        }
        .about__title {
          margin-top: 20px;
          font-family: var(--title-font);
          font-size: 38px;
          color: var(--title-color);
          .about__highlight {
            color: var(--brand-color);
          }
        }
        .about__subtitle {
          margin-top: 25px;
          font-size: 19px;
          color: var(--subtitle-color);
        }

        .about__text {
          margin-top: 25px;
          font-size: 17px;
          color: var(--text-color);
        }
      }
    }
    .about__benefits {
      display: grid;
      gap: 5px;
      padding: 90px 0 30px 0;
      @media (min-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr);
      }
      .benefits__item {
        outline: 1px solid #f5f5f5;
        padding: 24px;
      }
      .benefits__title {
        color: var(--card-title-color);
      }
      .benefits__text {
        color: var(--text-color);
      }
    }
  }
}
