.container {
  padding: 0 24px;
  margin: 0 auto;
}
.contact-offices__list {
  padding: 40px 0 90px;
  .contact-offices__item {
    margin-top: 50px;
  }
  .contact-offices__info {
    .contact-offices__city {
      font-size: 18px;
      color: var(--contact-title-color);
      margin-top: 30px;
    }
    .contact-offices__address {
      font-size: 17px;
      color: var(--text-color);
    }
    .contact-offices__schedule {
      font-size: 17px;
      color: var(--text-color);
      margin-top: 20px;
    }
    .contact-offices__phone {
      font-size: 17px;
      color: var(--text-color);
      margin-top: 20px;
    }
    .contact-offices__email {
      font-size: 17px;
      color: var(--text-color);
      margin-top: 20px;
    }
  }
}
@media (min-width: 480px) {
  .contact-offices__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .contact-offices__item {
    width: calc(50% - 15px);
    margin: 0;
  }
}
@media (min-width: 992px) {
  .contact-offices__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    justify-content: center;
    .contact-offices__item {
      .contact-offices__city {
        font-size: 21px;
      }
    }
  }
}
.google-map {
  width: 100%;
  height: 200px;
  border: 0;
}
