@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  /* max-width: 100vw; */
  display: block;
  max-width: 100%;
}

:root {
  scroll-behavior: smooth;

  /* Typography */
  --title-font: "Crimson Pro", serif;
  --font-family: "Open Sans", sans-serif;
  font-family: var(--font-family);

  /* Text Colors */
  --title-color: #3e4355;
  --title-alt-color: #ffffff;
  --title-section-color-light: #fff;
  --subtitle-color: #545454;
  --contact-title-color: #5e6a95;
  --subtitle-alt-color: #c2c2c2;
  --text-color: #6c6c6d;
  --text-alt-color: #bcbcbc;
  --text-section-color: rgb(194, 194, 194);
  --text-alt-section-color: var(--brand-color);
  --name-color: #555;

  /* Brand and background Colors */
  --brand-color: #c39167;
  --background-color: #ffffff;
  --alt-background-color: #f5f5f5;
  --background-footer: #3e4355;
  --bg-color: #3e4355;
  --background-section-light: #f9f9f9;
  --background-section-dark: #3e4355;
  --background-section-alt-light: rgba(249, 249, 249, 0.9);
  --background-section-alt-dark: rgba(37, 43, 63, 0.92);

  /* Cards */
  --card-border-light: #f5f5f5;
  --card-title-color: #575c71;
  --brand-card-color: #474b5e;
  --card-border: #eee;

  /* Footer */
  --footer-back-ico-color: var(--brand-color);
  --footer-ico-color: #ffffff;
  --card-border-light: #f5f5f5;
  --footer-stroke-color: rgba(255, 255, 255, 0.2);

  /* Buttons */
  --btn-text-light-color: var(--title-alt-color);
  --btn-text-dark-color: var(--title-color);
  --btn-alt-text-color: var(--brand-color);
  --btn-bg-dark-color: #080807;
  --btn-bg-light-color: var(--background-color);
  --btn-alt-bg-color: var(--brand-color);
  --btn-bg-hover-color: var(--bg-color);
}

body {
  font-family: var(--font-family);

  * {
    margin: 0;
    padding: 0;
  }
}

.section-container {
  max-width: 1200px;
  margin: auto;
}
