.header-section {
    background-image: url("../img/header/header-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 80px

  }
  