.header-section {
  background-image: url("../img/header/header-background.png");
  background-size: cover;
  background-position: 60%;
  /* center */
  background-repeat: no-repeat;
  /* position: relative; */
  padding-bottom: 400px;
}
