.header-section {
  background-image: url("../img/header/header-background.png");
  background-size: cover;
  max-width: 100vw;
  overflow: hidden;
  background-position: 60%;
  /* center */
  background-repeat: no-repeat;
  /* position: relative; */
  padding-bottom: 400px;

  @media (max-width: 590px) {
    .header-section {
      background-position: center;
      padding-bottom: 300px;
    }
  }
  
}
