.section-team {
  background-image: url(../img/global/alt-background.webp);
  padding: 90px 0;
  -webkit-font-smoothing: antialiased;

  @media (min-width: 768px) {
    padding: 102.5px 0 105px;
  }

  @media (min-width: 992px) {
    padding: 115px 0 120px;
  }

  .section-team__container {
    padding: 0 24px;

    @media (min-width: 768px) {
      padding: 0 32px;
    }

    @media (min-width: 992px) {
      padding: 0 40px;
    }

    @media (min-width: 1280px) {
      padding: 0 15px;
    }

    .section-team__overline {
      color: var(--brand-color);
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1.2px;
      text-align: center;
      text-transform: uppercase;

      @media (min-width: 992px) {
        font-size: 13px;
        letter-spacing: 1.3px;
      }
    }

    .section-team__title {
      color: var(--title-color);
      font-family: var(--title-font);
      font-size: 38px;
      font-weight: 600;
      padding-top: 20px;
      text-align: center;

      @media (min-width: 768px) {
        font-size: 44px;
      }

      @media (min-width: 992px) {
        font-size: 50px;
      }
    }

    .section-team__description {
      color: var(--subtitle-color);
      font-size: 19px;
      font-weight: 600;
      padding-top: 20px;
      text-align: center;
    }

    .section-team__attorneys {
      column-gap: 30px;
      display: grid;
      justify-items: center;

      @media (min-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
      }

      .section-team__attorney {
        margin-top: 50px;
        width: 100%;

        @media (min-width: 992px) {
          max-width: 353px;
        }

        @media (min-width: 1280px) {
          max-width: 370px;
        }

        .section-team__attorney-image-wrapper {
          aspect-ratio: 185 / 208.49;
          cursor: pointer;
          perspective: 1000px;
          position: relative;
          width: 100%;

          &:hover {
            .section-team__attorney-image-container {
              transform: rotateY(180deg);
            }
          }

          .section-team__attorney-image-container {
            height: 100%;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.6s ease-in-out;
            width: 100%;

            .section-team__attorney-image,
            .section-team__attorney-image-alt {
              backface-visibility: hidden;
              height: 100%;
              left: 0;
              object-fit: cover;
              object-position: top center;
              position: absolute;
              top: 0;
              width: 100%;
            }

            .section-team__attorney-image-alt {
              transform: rotateY(180deg);
            }
          }
        }

        .section-team__attorney-name {
          color: var(--card-title-color);
          font-size: 22px;
          font-weight: 700;
          margin-top: 20px;
          text-align: center;

          @media (min-width: 768px) {
            font-size: 23px;
          }

          @media (min-width: 992px) {
            font-size: 24px;
          }
        }

        .section-team__attorney-position {
          color: var(--text-color);
          font-size: 14px;
          font-style: italic;
          font-weight: 600;
          margin-top: 20px;
          text-align: center;
        }
      }
    }

    .section-team__action {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 50px;

      @media (min-width: 992px) {
        margin-top: 55px;
      }

      .section-team__button {
        background-color: var(--btn-alt-bg-color);
        border-style: none;
        color: var(--btn-text-light-color);
        cursor: pointer;
        font-size: 15.4px;
        font-weight: 700;
        letter-spacing: 0.462px;
        padding: 18px 30px;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.2s ease-in, border-color 0.2s ease-in;

        &:hover {
          background-color: var(--btn-bg-hover-color);
        }
      }
    }
  }
}
