.faq {
  background-image: url(../img/global/alt-background.webp);
  -webkit-font-smoothing: antialiased;

  .faq__container {
    display: grid;
    justify-content: center;
    justify-items: center;

    @media (min-width: 768px) {
      align-items: start;
      grid-template-columns: repeat(2, 1fr);
    }

    .faq__content {
      justify-self: end;
      padding: 90px 30px;

      @media (min-width: 768px) {
        max-width: 600px;
        padding: 102.5px 30px 105px;
      }

      @media (min-width: 992px) {
        padding: 115px 30px 120px;
      }

      .faq__overline {
        color: var(--brand-color);
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-align: left;
        text-transform: uppercase;
      }

      .faq__title {
        color: var(--title-color);
        font-family: var(--title-font);
        font-size: 38px;
        font-weight: 600;
        padding-top: 20px;
        text-align: left;
      }

      .faq__description {
        color: var(--subtitle-color);
        font-size: 19px;
        font-weight: 600;
        padding-top: 25px;
        text-align: left;
      }

      .faq__accordion {
        padding-top: 25px;

        .faq__accordion-item {
          padding: 20px 0;
          border-bottom-color: var(--bg-color);
          border-bottom-style: solid;
          border-bottom-width: 0.2px;

          .faq__accordion-button {
            align-items: center;
            background-color: transparent;
            border-style: none;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            text-align: left;
            transition: all 0.3s ease;
            width: 100%;

            &.active {
              .faq__accordion-icon {
                &::after {
                  opacity: 0;
                  transform: translateX(-50%) rotate(90deg);
                }
              }
            }

            .faq__accordion-question {
              color: var(--card-title-color);
              font-size: 18px;
              font-weight: 700;
            }

            .faq__accordion-icon {
              flex-shrink: 0;
              height: 15px;
              margin-left: 20px;
              min-height: 15px;
              min-width: 15px;
              position: relative;
              transition: transform 0.3s ease;
              width: 15px;

              &::before,
              &::after {
                background-color: var(--card-title-color);
                content: "";
                position: absolute;
                transition: all 0.5s ease;
              }

              &::before {
                height: 2px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 15px;
              }

              &::after {
                height: 15px;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                width: 2px;
              }
            }
          }

          .faq__accordion-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-in;

            &.active {
              max-height: 500px;

              .faq__accordion-answer {
                opacity: 1;
                transform: translateY(0);
              }
            }
          }

          .faq__accordion-answer {
            color: var(--text-color);
            font-size: 17px;
            font-weight: 400;
            margin-top: 25px;
            opacity: 0;
            text-align: left;
            transform: translateY(-10px);
            transition: opacity 0.25s ease 0.05s, transform 0.25s ease 0.05s;
          }
        }
      }
    }

    .faq__image-wrapper {
      width: 100%;

      @media (min-width: 768px) {
        height: 100%;
        justify-self: stretch;
      }

      .faq__image {
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }
  }
}
