 @keyframes animateSliderBack {
        from {
            transform: translateX(0%);
        }

        to {
            transform: translateX(300%);
        }
    }
@keyframes animateSliderForwd {
        from {
            transform: translateX(300%);
        }

        to {
            transform: translateX(0%);
        }
    }    

.cases {
    background: var(--background-color);
    padding-top: 24px;
    padding-bottom: 24px;
    .cases__animate-forward {
        display: inline-block;
        opacity: 1;
        animation-name: animateSliderForwd;
        animation-duration: .4s;
    }
    .cases__animate-back {
        display: inline-block;
        opacity: 1;
        animation-name: animateSliderBack;
        animation-duration: .4s;
    }

    .container {
        background: var(--background-color);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: normal;
        align-items: center;
        padding: 0 24px;
        position: relative;

    }

    .cases__pretitle {
        text-transform: uppercase;
        font-size: 12px;
        color: var(--brand-color);
        text-align: center;
        display: block;
        font-weight: 700;
        margin-bottom: 20px;
        letter-spacing: calc(0.1 * 1em);
    }

    .cases__title {
        font-family: var(--title-font);
        font-size: 38px;
        color: var(--title-color);
        font-weight: 500;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 20px;

    }

    .cases__description {
        font-size: 19px;
        color: var(--subtitle-color);
        text-align: center;
        margin-bottom: 20px;
    }

    .cases__slider-swiper {
        position: relative;
    }

    .cases__slider-controls {
        position: absolute;
        top: 50%;
        display: flex;
        width: calc(100% + 48px);
        justify-content: space-between;
        left: -24px;


        button {
            border-radius: 50%;
            border: unset;
            background: var(--bg-color);
            color: var(--title-alt-color);
            width: 24px;
            height: 24px;
            opacity: .85;

        }

    }

    .case {
        .case__title {
            color: var(--card-title-color);
            text-align: left;
            font-size: 22px;
            letter-spacing: 0;
            margin-top: 20px;
            margin-bottom: 20px;
            max-width: 84%;

        }

        .case__list {
            color: var(--text-color);
            font-size: 17px;
            line-height: 1.6;
            font-weight: 400;
            margin-left: 20px;

        }
    }


    .swiper-slide {
        display: none;

        button {
            font-size: 14px;
            font-weight: bold;
            color: var(--background-color);
            cursor: pointer;
            background-color: var(--brand-color);
            transition: inherit;
            border-color: transparent;
            box-sizing: border-box;
            text-align: center;
            border-width: 2px;
            height: 47.5px;
            margin-top: 30px;
            vertical-align: baseline;
            padding: 15px 26px;
            line-height: calc(1.25 * 1em);
            margin-left: 5px;
            margin-bottom: 40px;
        }

        button:hover {
            background: var(--title-color);
        }
    }

    .swiper-slide:nth-child(1) {
        display: inline-block;
    }

}




@media (min-width: 768px) {
    .cases {
        .cases__slider-swiper {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
        
        }

        .swiper-slide:nth-child(n) {
            padding-right: 25px;
            display: none;
        }
          .swiper-slide:nth-child(1) {
        display: inline-block;
    }

    }
}