.subheader {
  background-color: var(--brand-color); /* теплий коричневий фон */
  padding: 60px 20px;
  text-align: center;

  .subheader__title {
    font-family: var(--title-font);
    font-size: 38px;
    font-weight: 700;
    color: var(--title-alt-color); /* білий текст */

    @media (min-width: 768px) {
      font-size: 50px;
    }
  }
}
